body {
  margin: 0;
  font-family: 'Itim', sans-serif;
}

.result {
  background-color: #848693;
  text-align: end;
}

.operator {
  background-color: #f39148 !important;
}

.numbers {
  background-color: #e0e0e0;
}

.table-responsive {
  width: 50%;
}

.operator button {
  background-color: #f39148 !important;
}

.numbers td button {
  border: none;
  background: #e0e0e0;
}

.content{
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
}

.nav_link{
  text-decoration: none;
  color: white;
}

.nav_link:hover{
  color: #f39148;
}

.link-active {
  color: #f39148;
}

.navbar{
  background-color: #848693;
}

@media screen and (max-width: 991px) {
  .content{
    padding-top: 100px;
  }
}

@media screen and (max-width:417px){
  .content{
    flex-wrap: wrap;
    padding-top: 200px;
  }
}
